/* Command Line */
#CommandLine{
  background-color:black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

#CommandLine > h1{
  text-align: center;
  margin: 0;
  padding: 10 0;
}

#CommandLine > *{
  color: lightgray;
}

#CommandLineContainer{
  border-radius: 10px;
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 10px;
}

#CommandLineEntries{
  margin-left: 20px;
  flex: 1;
}

#CommandLineScroller{
  min-height: 10px;
  height: fit-content;
  max-height: fit-content;
  overflow-y: scroll;
  resize: vertical;
}

#CommandLinePrompt {
  margin-top: 5px;
  display: flex;
  width: 100%;
}

#CommandLinePrompt input {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
  background-color: darkgray;
  color: white;
  border: none;
  outline: none;
  font-family: monospace;

  margin-right: 10px;
}


#CommandLinePrompt button{
  margin: 0 20px 0 10px;
  font-size: 20px;
}


/* Resources */
#resources{
  padding: 10px 0;
}

#getResources{
  display: block;
  margin: 10px auto;
  border-radius: 3px;
}

.resourcesGridContainer{
  display: grid;
  width: fit-content;
  margin: 10px auto auto auto;
  /*3 Columns*/
  grid-template-columns: 1fr 1fr;
  background-color: lightgray;
  padding: 10px;

  border-radius: 10px;
}



/*File Viewer*/

#fileViewer{
  width: 100%;
  border-radius: 10px;
  margin: 2% auto 2% auto;
  background-color: gray;
  padding-bottom: 10px;
}

.gridContainer {
  display: grid;
  width: 95%;
  max-width: 95%;
  margin: 10px auto auto auto;
  /*3 Columns*/
  grid-template-columns: 3fr 1fr 1fr;
  background-color: lightgray;
  padding: 10px;

  border-radius: 10px;

}

.gridContainer > *, .resourcesGridContainer > * {
  background-color: lightgray;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  overflow-x: auto;
}

.FileHeader{
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: lightgray;
  margin: auto;
}

.FileDirectory{
  margin-bottom: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
  background-color: rgb(218, 184, 140);
  border-radius: 10px;
  border-style: inset;
  border-color: rgb(229, 186, 130);
  width: fit-content;
  margin: 10px 0 0 20px;
  
  display: flex;
  gap: 30px;
}

.FileDirectory > p{
  padding: 0;
  margin: 0;
}

.DirectoryBack{
  font-size: 900px;
  color: blue;
  background-color: rgb(197, 157, 104);
}

.gridScroller{
  min-height: 110px;
  max-height: fit-content;

  height: 30svh;
  resize: vertical;
  overflow-y: scroll;

  margin-top: 10px;
}

.fileName{
  text-align: left;
}



#Title{
    text-align: center;
}



/* Screenshot section Start */

#Screenshot{
    size: auto;
    display: flex;
    flex-direction: column; /* stack everything vertically */
    align-items: center;    /* center content horizontally */
    gap: 10px;  
}

#ScreenshotImgContainer{
    margin: 0 auto;
    padding: 0 auto;
    background-color: gray;
    width: 50vw;
    height: 50vh;
}

#ScreenshotImg{
    max-width: 100%;
    max-height: 100%;
}


.slidecontainer {
  width: 100%;
  display: flex;
  flex-direction: column; /* stack slider on top */
  align-items: center;
  gap: 8px;
}

.controls-line {
  display: flex;
  justify-content: center; /* center the row */
  align-items: center;
  gap: 15px; /* space between items */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/*End Screenshot*/